
## folders
.venv/
.env/
__pycache__/
*/__pycache__/
.pytest_cache/
*/.pytest_cache/
.mypy_cache/

## captcha folders
captcha/
examples/


## files
*.pyc
*/test.py
# */test*.py
*.log
storage.json
storage copy.json
state.json
test.json
test.txt
test copy.json
test_trade_answer*
history.json
my.db
*.log.zip
*.sh
poetry.lock
.python-version

# dotenv
.env

# test file
test.py

