{% extends 'layout.html' %}

{% block content %}

<section data-bs-version="5.1" class="header11 cid-txCW60BmGr mbr-parallax-background" id="header11-m">

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(53, 53, 53);"></div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 image-wrapper">
                <img class="w-100" src="{{ url_for('static', path='assets/images/logo1-1256x1256.jpg') }}" alt="Mobirise Website Builder">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper text-center">
                    
                    <p class="mbr-text mbr-fonts-style display-5">Мы помогаем геймерам из России приобрести игры Steam в Турецком регионе.&nbsp;<br></p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-black display-5" href="https://t.me/TamamGamesBot"><span class="socicon socicon-telegram mbr-iconfont mbr-iconfont-btn"></span>TamamGamesBot</a></div>
                </div>
            </div>
        </div>
    </div>
</section><script src="{{ url_for('static', path='assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>  <script src="{{ url_for('static', path='assets/smoothscroll/smooth-scroll.js') }}"></script>  <script src="{{ url_for('static', path='assets/ytplayer/index.js') }}"></script>  <script src="{{ url_for('static', path='assets/theme/js/script.js') }}"></script>

{% endblock content %}