{% extends 'layout.html' %}

{% block content %}

<section data-bs-version="5.1" class="features15 cid-typtlpe0we" id="features16-p">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(133, 88, 127);">
    </div>
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Ваши коды&nbsp;</strong></h6>
                        <!-- <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Сюда пишем коды по одному на строку типа так<br><br>LCNAE-R6FLH-M7D9R на 20 TL<br>FH7DM-9WJEB-7NIFJ&nbsp;на 20 TL<br>CWKX7-WV3XX-F84RN на 20 TL
<br>B3H82-V9VKW-FQJYI&nbsp;на 20 TL<br>DMJ5N-L8XL2-M4853&nbsp;на 20 TL<br>CR57W-9IRH6-BHIIP&nbsp;на 20 TL<br></p> -->
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                        {% for code in code_list %}
                            Code {{ code.card_code }} на {{ code.amount_tl }} TL
                            <br>
                        {% endfor %}
                        </p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-black display-4" href="https://t.me/TamamGamesBot"><span class="socicon socicon-telegram mbr-iconfont mbr-iconfont-btn"></span>TamamGamesBot<br></a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{{ url_for('static', path='assets/images/logo1-1160x1160.jpg') }}" alt="Mobirise Website Builder">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script src="{{ url_for('static', path='assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>  <script src="{{ url_for('static', path='assets/smoothscroll/smooth-scroll.js') }}"></script>  <script src="{{ url_for('static', path='assets/ytplayer/index.js') }}"></script>  <script src="{{ url_for('static', path='assets/theme/js/script.js') }}"></script>


{% endblock content %}